.page {
	position: relative;

	overflow: hidden;

	font-family: "Roboto", sans-serif;
}

.container {
	max-width: $container;
	margin: 0 auto;

	@media (max-width: 990px) {
		max-width: 90%;
	}
}

img {
	// fix отступа
	vertical-align: top;
}

button {
	border: none;
	cursor: pointer;
}

a {
	text-decoration: none;
	color: inherit;
}
