.page {
	position: relative;

	overflow: hidden;

	font-family: "Roboto", sans-serif;
}

.container {
	max-width: 1440px;
	margin: 0 auto;
}

img {
	// fix отступа
	vertical-align: top;
}

button {
	border: none;
	cursor: pointer;
}

a {
	text-decoration: none;
	color: inherit;
}