.nav-bar {
	display: flex;
	gap: 30px;
	font-size: 14px;
	line-height: 16px;

	&__link {
		min-width: 50px;

		text-align: center;
		text-decoration: none;
		color: #22356f;

		&:hover {
			color: #62d0df;
			transition: all 0.3s linear;
		}

		&--active:after {
			display: block;
			width: 100%;
			min-height: 1px;
			margin-top: 10px;

			content: "";

			background-color: #22356f;
		}
	}
}
