.thrive {
	display: flex;

	background-color: #62d0df;

	&__desc {
		max-width: 555px;
		margin: 0 auto;

		color: #fff;
		// order: 1;
	}

	&__title {
		margin-top: 150px;

		font-size: 36px;
	}

	&__text {
		margin-top: 75px;

		font-size: 24px;
	}

	&__img {
		width: 525 / 1440 * 100%;
		min-width: 435px;
	}
}
