.thrive {
	display: flex;

	background-color: #62d0df;
}

.thrive__desc {
	max-width: 555px;
	margin: 0 auto;

	color: #fff;
}

.thrive__title {
	margin-top: 150px;

	font-size: 36px;
}

.thrive__text {
	margin-top: 75px;

	font-size: 24px;
}